$desaturatedDarkCyan:hsl(180, 29%, 50%);
$lightGraishCyanBg:hsl(180, 52%, 96%);
$lightGraishCyanFl:hsl(180, 31%, 95%);
$darkGraishCyan:hsl(180, 8%, 52%);
$veryDarkGraishCyan:hsl(180, 14%, 20%);
$f-heading:0.9375rem;
$f-reg:0.8125rem;
$f-fam:'Spartan';
$w-reg:500;
$w-bold:700;